extends layout

block content
    section.jumbotron.text-center
        .container
            h1.jumbotron-heading 🥐 Hello Widlers 🥐
            p.lead.text-muted
            | Framework Express de NodeJS avec Pug Template Engine,  ORM Sequelize, Nodemon, Mysql2 et Passeport
            p
            a.btn.btn-primary.my-2(href='http://expressjs.com/fr/') Documentation de Express
            a.btn.btn-secondary.my-2(href='https://github.com/rajikaimal/awesome-express') Express Awesome
