extends layout

block content
    section.jumbotron.text-center
        .container
            p.lead.text-muted
            ul
                li Le Cartel: - ".... Tu es ..... Heisenberg !!!"
                li Walter White: - "Et comment que c'est moi ! "
            img(src="https://media.giphy.com/media/3oFzmkkwfOGlzZ0gxi/giphy.gif")
            p
