extends ../layout 

block content
    h3="Créer un nouvel article"
    form(method="POST", action="/articles/enregistrer")
        input(class="form-control", required="required", pattern=".{3,}", name="title", placeholder="Le Titre")
        textarea(class="form-control", name="description", required, placeholder="La Description")
        button(type="submit", class="btn btn-success") Enregistrer mon nouvel article