extends ../layout

block css
    link(rel="stylesheet", href="/stylesheets/creer.css")

block append javascripts
    script(src="/javascripts/creer.js")

block content
    form(action="/categories/enregistrer", method="POST")
        input(class="form-control",name="titre", placeholder="Votre titre", required)
        textarea(class="form-control",name="description", placeholder="Votre description", required)
        button(type="submit") Enregistrer cette catégorie 